.swiper-container {
    width: 100%;

}

.swiper-slide {

}

.swiper-slide img {
  width: 100%;
}

.swiper-pagination-bullet {

    border-radius: 0;
    background: #FFF;
    opacity: .5;
    transition: all 1s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transform: rotate(45deg);
}
