.swiper-container{width:100%}.swiper-slide img{width:100%}.swiper-pagination-bullet{border-radius:0;background:#FFF;opacity:.5;-webkit-transition:all 1s;transition:all 1s}.swiper-pagination-bullet-active{opacity:1;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
