.bb_adminbar {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0; }
  .bb_adminbar.hide {
    display: none; }
  .bb_adminbar ul {
    list-style: none;
    margin: 0; }
    .bb_adminbar ul li {
      float: left;
      background: #383838;
      margin-right: 1px;
      color: white;
      font-size: 14px;
      padding: 10px; }
      .bb_adminbar ul li a {
        display: block;
        color: white; }
    .bb_adminbar ul:after {
      content: '';
      clear: both;
      display: block; }

#grid-displayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: padding-box;
  pointer-events: none;
  display: none; }
  #grid-displayer.show {
    display: block; }
  #grid-displayer .gd-container, #grid-displayer .gd-row, #grid-displayer .gd-column, #grid-displayer .gd-column-inside {
    height: 100%; }
  #grid-displayer .gd-column {
    position: relative; }
    #grid-displayer .gd-column-inside {
      background-color: rgba(155, 155, 155, 0.1); }
    #grid-displayer .gd-column:after {
      content: '';
      display: block;
      right: -0.5px;
      top: 0;
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: rgba(155, 155, 155, 0.1); }
    #grid-displayer .gd-column:last-child:after {
      display: none; }
/*# sourceMappingURL=development.css.map */