.bb_adminbar {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;

    &.hide {
      display: none;
    }


    ul {
      list-style: none;
      margin: 0;

      li {
        float:left;
        background: #383838;
        margin-right: 1px;
        color: white;
        font-size: 14px;
        padding: 10px;
        a {
          display: block;
          color:white;
        }
      }

      &:after {
        content: '';
        clear:both;
        display: block;
      }
    }
}

#grid-displayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  pointer-events: none;
  display: none;


  &.show {
    display: block;
  }

  .gd {

    &-container,
    &-row,
    &-column,
    &-column-inside {
      height: 100%;
    }

    &-row {
      // Extra padding for Gildi.is grid
      //padding: 0 15px;
    }

    &-column {

      position: relative;

      &-inside {
        background-color: rgba(155,155,155,0.1);
      }

      &:after {
        content: '';
        display: block;
        right:-0.5px;
        top:0;
        position: absolute;
        height:100%;
        width: 1px;
        background-color: rgba(155,155,155,0.1);
      }

      &:last-child {

        &:after {
          display: none;
        }
      }

    }

  }

}
